.header{
    background-color: darkslateblue;
    height:80px;
    width:100%;
    display:block;
}

.box1{
    background-color: white;
    height:80%;
    display:block;
    width:100px;
    margin:0 auto;
    text-align:center;
    align-items:center;
    border: 3px coral;
    padding: 15px;
    font-size: x-small;
}
.box1 h3{
    color:black
    
}

.selectall{
    display:inline-table;
    float:left;
}
.selectall h6{
    text-align: left;
}
.allnews{
    text-align: center;
    align-items: center;
    color:darkslateblue;
}
.allnews h1{
    display:inline-flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}

.subscribe{
    display:inline-table;
    float:right;
}
.subscribe button{
    background-color: #000;
    color: white;
}
.subscribe h5{
    text-align: left;
}
hr{
   border: 1px solid black;
}
button{
    background-color: coral;
    color:white;
    
}
button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

td{
    line-height: 1.2;
    padding-bottom: 15px;
    border-bottom:1px solid black;
}

p{
    font-weight: 100;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
