*{
    border-radius: 5px;
    font-weight:bold;
}

.header , .footer{
    background-color: powderblue;
    padding : 30px;
    align-items: center;
    text-align: center;
}

.navigation{
    background-color:powderblue;
    padding:15px;
    text-align:center;
    margin-top: 20px;
}


.content1 , .content2{
    background-color:powderblue;
    padding:40px;
    text-align:center;
    margin-top:20px;
    width:15%;
    height:500px;
    display:inline-flex;
    justify-content:space-around;
    margin-block:15px;
    align-items:center;

}

.mcontent{
    background-color:powderblue;
    padding:40px;
    text-align:center;
    margin-top:20px;
    margin-left:20px;
    margin-right:20px;
    width:50%;
    height:500px;
    display:inline-flex;
    justify-content:space-around;
    align-items:center;
    margin-block:15px;
}

/*.content2{
    background-color:powderblue;
    padding:40px;
    text-align:center;
    margin-top:20px;
    width:15%;
    height:500px;
    display:inline-flex;
    justify-content:space-around;
    align-items:center;
    margin-block:15px;
}

.footer{
    background-color:powderblue;
    padding:30px;
    margin-top:10px;
    text-align:center;
}*/

